In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [2]:
df = pd.read_csv('data/auto-mpg.csv')

df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model-year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70

In [3]:
df = df.replace('?', np.nan)
df = df.dropna()

In [4]:
X = df.drop('mpg', axis=1)# mpg izostavljamo jer nam predstavlja ciljnu promenljivu
y = df[['mpg']]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [6]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [7]:
print('Slobodan clan je {}\n'.format(reg.intercept_[0]))
for idx, col_name in enumerate(X_train.columns):
    print('Koeficijent za {} je {}'.format(col_name, reg.coef_[0][idx]))

Slobodan clan je -13.824169113397076

Koeficijent za cylinders je -0.23813015571485968
Koeficijent za displacement je 0.001683903382560149
Koeficijent za horsepower je -0.00025019058188310134
Koeficijent za weight je -0.006621560986020154
Koeficijent za acceleration je 0.010273669827510159
Koeficijent za model-year je 0.7625231149758133

In [8]:
r2_test = reg.score(X_test, y_test)
r2_train = reg.score(X_train, y_train)
print('R^2 test = {}'.format(r2_test))
print('R^2 train = {}'.format(r2_train))

R^2 test = 0.7757849559316718
R^2 train = 0.8134917530842112

In [9]:
# Srednje-kvadratna greska
mse_test = mean_squared_error(y_test, reg.predict(X_test))
mse_train = mean_squared_error(y_train, reg.predict(X_train))
print('MSE test = {}'.format(mse_test))
print('MSE train = {}'.format(mse_train))

MSE test = 11.054880997716943
MSE train = 12.041212192734278

In [10]:
# Za koliko milja gresimo prosecno?
# Izracunacaemo koren srednjekvadratne greske kako bi se vratili u red velicine ciljne promenljive.
rmse_test = np.sqrt(mse_test)
rmse_train = np.sqrt(mse_train)
print('RMSE test = {}'.format(rmse_test))
print('RMSE train = {}'.format(rmse_train))

RMSE test = 3.324888118075094
RMSE train = 3.4700449842522616